<?xml version="1.0" encoding="utf-8" ?>
<!-- 
		.NET application configuration file     
		This file must have the exact same name as your application with .config appended to it. 
		
		For example if your application is ConsoleApp.exe then the config file must be ConsoleApp.exe.config. 
		It must also be in the same directory as the application. 
	-->
<configuration>
	<appSettings>
		<add key="brokerUrl" value="tcp://nyws802:60606?transport.requesttimeout=10000"/>
		<!--add key="brokerUrl" value="tcp://amqmktdata:63636?transport.requesttimeout=10000"/-->
	</appSettings>
</configuration>