[default]
FileStorePath=${fix.filestore}
ConnectionType=initiator
HeartBtInt=30
UseDataDictionary=Y
#SLF4JLogHeartbeats=N


# Each FIX session has different up times
[session]
# incoming trades from TradeStation
BeginString=FIX.4.2
SenderCompID=FFTW
TargetCompID=TRAD
# TradeStation runs on a weekly schedule
StartDay=Monday
StartTime=05:00:00 US/Eastern
EndDay=Friday
EndTime=21:00:00 US/Eastern
SocketConnectPort=${tradestation.port}
SocketConnectHost=${tradestation.host}
SocketConnectPort1=${tradestation.port1}
SocketConnectHost1=${tradestation.host1}

[session]
# incoming trades from Morgan Stanley Passport
BeginString=FIX.4.2
SenderCompID=MALBEC-PPT
TargetCompID=MSDW-PPT
# Passport runs 24/7 and resets its sequence numbers every morning at 7:00 AM
StartTime=07:00:00 US/Eastern
EndTime=20:30:00 US/Eastern
SocketConnectPort=${passport.port}
SocketConnectHost=${passport.host}
SocketConnectPort1=${passport.port1}
SocketConnectHost1=${passport.host1}

[session]
# incoming trades from Goldman Sachs Redi Plus
BeginString=FIX.4.2
SenderCompID=MALBECRPT
TargetCompID=REDIRPT
# GS is down from 5:30 PM - 6:00 PM daily
StartTime=18:00:00 US/Eastern
EndTime=17:29:00 US/Eastern
SocketConnectPort=${redi.port}
SocketConnectHost=${redi.host}
SocketConnectPort1=${redi.port1}
SocketConnectHost1=${redi.host1}
