<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <!-- Register a section handler for the log4net section -->
  <configSections>
    <section name="log4net" type="System.Configuration.IgnoreSectionHandler" />
  </configSections>
  <!-- Entity Framework -->
  <connectionStrings>
    <add name="BADBEntities" connectionString="metadata=res://*/FuturesMapping.csdl|res://*/FuturesMapping.ssdl|res://*/FuturesMapping.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=NYSRV28,2433;Initial Catalog=BADB;Integrated Security=True;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <!-- Application Configuration -->
  <appSettings>
	  <add key="brokerUrl" value="tcp://nyws802:60606" />
	  <add key="apiUserId" value="malbec2_uat" />
	  <add key="apiPassword" value="trader888" />
	  <add key="apiSite" value="UAT Prod B" />
	  <add key="apiPricingServer" value="tcp://uatprod.trandingscreen.net:9901" />
	  <add key="connectionString" value="metadata=res://*/FuturesMapping.csdl|res://*/FuturesMapping.ssdl|res://*/FuturesMapping.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=NYSRV28,2433;Initial Catalog=BADB;Integrated Security=True;User ID=sim;Password=Sim5878;MultipleActiveResultSets=True&quot;" />
	  <add key="dbUserId" value="sim"/>
	  <add key="dbPassword" value="Sim5878"/>
	  <add key="mailFromAddress" value="Trading Screen API&lt;alert@malbecpartners.com&gt;"/>
	  <add key="mailToAddress" value="Michael Franz&lt;mfranz@fftw.com&gt;"/>
  </appSettings>
  <!-- This section contains the log4net configuration settings -->
  <log4net>
    <!-- A1 is set to be a ConsoleAppender -->
    <appender name="A1" type="log4net.Appender.ConsoleAppender">
      <!-- A1 uses PatternLayout -->
      <layout type="log4net.Layout.PatternLayout">
        <!-- Print the date in ISO 8601 format -->
        <!-- "%d{ISO8601} %-5p [%t]-[%c] - %m%n" -->
        <!-- "%date %-5level [%thread] %logger %ndc - %message%newline" -->
        <conversionPattern value="%d{ISO8601} %-5p [%t]-[%c] - %m%n" />
      </layout>
    </appender>
	<appender name="File" type="log4net.Appender.RollingFileAppender">
	 <file value="c:\dotnet-logs\tsapiconsole-log.txt" />
	 <appendToFile value="true" />
	 <maxSizeRollBackups value="10" />
	 <maximumFileSize value="100MB" />
	 <rollingStyle value="Size" />
	 <staticLogFileName value="true" />
	 <layout type="log4net.Layout.PatternLayout">
	  <conversionPattern value="%d{ISO8601} %-5p [%t]-[%c] - %m%n" />
	 </layout>
	</appender>
    <!-- Set root logger level to DEBUG and its only appender to A1 -->
    <root>
      <level value="DEBUG" />
      <appender-ref ref="A1" />
	  <appender-ref ref="File" />
    </root>
    <!-- Print only messages of level WARN or above in the package Com.Foo -->
    <logger name="Com.Foo">
      <level value="WARN" />
    </logger>
  </log4net>
</configuration>