<?xml version="1.0" encoding="utf-8" ?>
<!-- 
		.NET application configuration file     
		This file must have the exact same name as your application with .config appended to it. 
		
		For example if your application is ConsoleApp.exe then the config file must be ConsoleApp.exe.config. 
		It must also be in the same directory as the application. 
	-->
<configuration>
	<!-- Register a section handler for the log4net section -->
	<configSections>
		<section name="log4net" type="System.Configuration.IgnoreSectionHandler" />
	</configSections>
	<appSettings>
		<!-- To enable internal log4net logging specify the following appSettings key -->
		<!-- <add key="log4net.Internal.Debug" value="true"/> -->
		<!--<add key="brokerUrl" value="tcp://nyws802:60606?transport.requesttimeout=10000"/>-->
		<!--<add key="brokerUrl" value="tcp://nylt597:61616?transport.requesttimeout=10000"/>-->
		<add key="brokerUrl" value="tcp://amqfersrv:61600?transport.requesttimeout=10000"/>
	</appSettings>

	<!-- This section contains the log4net configuration settings -->
	<log4net>
		<!-- Define some output appenders -->
		<appender name="RTDLog" type="log4net.Appender.RollingFileAppender">
			<file value="c:\excel-logs\rtd-log.txt" />
			<!--file value="rolling-publisher-log.txt" /-->
			<appendToFile value="true" />
			<maxSizeRollBackups value="10" />
			<maximumFileSize value="100M" />
			<rollingStyle value="Size" />
			<staticLogFileName value="true" />
			<layout type="log4net.Layout.PatternLayout">
				<!--				<header value="[Header]&#13;&#10;" />-->
				<!--				<footer value="[Footer]&#13;&#10;" />-->
				<conversionPattern value="%d{ISO8601} %-5p [%t]-[%c] - %m%n" />
			</layout>
		</appender>
		<appender name="UDFLog" type="log4net.Appender.RollingFileAppender">
			<file value="c:\excel-logs\udf-log.txt" />
			<!--file value="rolling-subscriber-log.txt" /-->
			<appendToFile value="true" />
			<maxSizeRollBackups value="10" />
			<maximumFileSize value="100M" />
			<rollingStyle value="Size" />
			<staticLogFileName value="true" />
			<layout type="log4net.Layout.PatternLayout">
				<!--				<header value="[Header]&#13;&#10;" />-->
				<!--				<footer value="[Footer]&#13;&#10;" />-->
				<conversionPattern value="%d{ISO8601} %-5p [%t]-[%c] - %m%n" />
			</layout>
		</appender>
		<appender name="ConsoleAppender" type="log4net.Appender.RollingFileAppender">
			<file value="c:\excel-logs\console-log.txt" />
			<appendToFile value="true" />
			<maxSizeRollBackups value="10" />
			<maximumFileSize value="100M" />
			<rollingStyle value="Size" />
			<staticLogFileName value="true" />
			<layout type="log4net.Layout.PatternLayout">
				<conversionPattern value="%d{ISO8601} %-5p [%t]-[%c] - %m%n" />
			</layout>
		</appender>

		<!-- Setup the root category, add the appenders and set the default level -->
		<root>
			<level value="WARN" />
			<!--appender-ref ref="ConsoleAppender" /-->
			<!-- <appender-ref ref="A" /> -->
		</root>
		<!-- Specify the level for some specific categories -->
		<logger name="Console">
			<!-- <appender-ref ref="B" /> -->
			<level value="ALL" />
			<appender-ref ref="ConsoleAppender" />
		</logger>
		<logger name="PublisherApp.Logging">
			<!-- <appender-ref ref="B" /> -->
			<level value="ALL" />
			<appender-ref ref="UDFLog" />
		</logger>
		<logger name="SubscriberApp.Logging">
			<!-- <appender-ref ref="B" /> -->
			<level value="ALL" />
			<appender-ref ref="RTDLog" />
		</logger>

	</log4net>
</configuration>